###############################
#### Gruvbox Material Dark ####
###############################
set $bg       #282828
set $fg       #d4be98
set $red      #ea6962
set $orange   #e78a4e
set $green    #a9b665
set $blue     #7daea3
set $purple   #d3869b
set $aqua     #89b482
set $darkgray #282828

# #############
# #### BAR ####
# #############
# bar {
#     # strip_workspace_numbers true
#     colors {
#             # bar background color
#             background $bg
#             # text color used for blocks that do not have a color specified.
#             statusline $fg
#
#             # workspaces section
#             #                    border     backgr.     text
#             focused_workspace    $orange    $orange     $bg
#             inactive_workspace   $bg        $aqua       $bg
#             active_workspace     $bg        $blue       $bg
#             urgent_workspace     $red       $red        $fg
#
#         }
#         status_command i3status
# }

#######################
#### i3 appearance ####
#######################
#       Gruvbox Theme   brdr        bg          text    indictr     chld_brdr
client.focused          $orange     $orange     $bg     $purple     $orange
client.focused_inactive $aqua       $aqua       $bg     $aqua       $aqua
client.unfocused        $bg         $bg         $fg     $fg         $bg
client.urgent           $red        $red        $bg     $red        $red
client.placeholder      $bg         $bg         $bg     $bg         $bg
client.background       $bg
